<!DOCTYPE html>
<html>
  <head>
    <title>Templates</title>
  </head>
  <body>
    <div id="snipcart-templates">
      <!-- 
					Adding CPF and phone field in the billing component:
					- https://docs.snipcart.com/v3/themes/default/reference#component-billing 
					- Allowed characters (https://www.w3schools.com/charsets/ref_utf_basic_latin.asp): 
					  - CPF: numbers and backspace;
					  - Phone: numbers, backspace and space.
				-->
      <billing section="top">
        <fieldset>
          <div id="form-cpf">
            <snipcart-label for="cpf" class="snipcart__font--tiny"
              >CPF</snipcart-label
            >
            <snipcart-input
              name="cpf"
              minlength="11"
              maxlength="11"
              type="text"
              onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
              required
            ></snipcart-input>
          </div>
          <div id="form-phone">
            <snipcart-label for="phone" class="snipcart__font--tiny"
              >Telefone (DDD + número)</snipcart-label
            >
            <snipcart-input
              name="phone"
              maxlength="15"
              type="tel"
              onkeypress="return (event.charCode !=8 && (event.charCode ==0 || event.charCode ==32) || (event.charCode >= 48 && event.charCode <= 57))"
              required
            ></snipcart-input>
          </div>
        </fieldset>
      </billing>

      <!-- 
					In the item-line component, we exclude products descriptions:
					- https://docs.snipcart.com/v3/themes/default/reference#component-item-line 
			  -->
      <item-line>
        <li
          :class="{'snipcart-item-line': true, 'snipcart-item-line--cart-edit': editingCart}"
        >
          <flash-message type="info" icon="box" v-if="stockLimitReached">
            {{ $localize('errors.quantity_revised') }}
          </flash-message>
          <flash-message type="error" icon="box" v-if="outOfStock">
            {{ $localize('errors.quantity_out_of_stock') }}
          </flash-message>
          <div class="snipcart-item-line__container">
            <figure class="snipcart-item-line__media" v-if="showLargeImage">
              <item-image class="snipcart-item-line__image"></item-image>
            </figure>
            <div class="snipcart-item-line__product">
              <div class="snipcart-item-line__header">
                <figure
                  class="snipcart-item-line__media snipcart-item-line__media--small"
                  v-if="showSmallImage"
                >
                  <item-image class="snipcart-item-line__image"></item-image>
                </figure>

                <h2
                  class="snipcart-item-line__title snipcart__font--xlarge snipcart__font--secondary snipcart__font--black"
                >
                  {{ item.name }}
                </h2>

                <button-icon
                  icon="trash"
                  label="item.remove_item"
                  styling="danger"
                  @click="removeItem"
                ></button-icon>
              </div>

              <div class="snipcart-item-line__content">
                <div class="snipcart-item-line__body">
                  <div class="snipcart-item-line__variants">
                    <div>
                      <item-plans
                        :item="item"
                        v-if="!adding && isSubscribable"
                      ></item-plans>
                      <item-custom-fields v-if="!adding"></item-custom-fields>
                    </div>
                    <item-quantity
                      class="snipcart-item-line__quantity"
                      v-if="!adding && !isSubscribable"
                      :disabled="outOfStock || isSubscribable"
                    ></item-quantity>
                    <div
                      class="snipcart-form__field snipcart-form__field--plan snipcart-form__field--plan--billed-on"
                      v-if="isSubscribable && !adding"
                    >
                      <span class="snipcart-form__label snipcart__font--tiny">
                        {{$localize('subscription.payment_amount')}}
                      </span>
                      <div class="snipcart-form__field--plan__readonly">
                        <item-price :item="item" :selectedPlan="selectedPlan">
                        </item-price>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </item-line>

      <!-- 
				Creating our own address-fields component:
			  - https://docs.snipcart.com/v3/themes/default/reference#component-address-fields
			  - https://docs.snipcart.com/v3/setup/customization#customize-address-fields 
		  -->
      <address-fields>
        <div>
          <fieldset class="snipcart-form__set">
            <div class="snipcart-form__row">
              <div class="snipcart-form__field snipcart-form__cell--large">
                <snipcart-label class="snipcart__font--tiny" for="address1"
                  >{{ $localize('address_form.address1') }}</snipcart-label
                >
                <snipcart-input name="address1"></snipcart-input>
                <snipcart-error-message
                  name="address1"
                ></snipcart-error-message>
              </div>

              <div class="snipcart-form__field snipcart-form__cell--tidy">
                <snipcart-label class="snipcart__font--tiny" for="address2"
                  >{{ $localize('address_form.address2') }}</snipcart-label
                >
                <snipcart-input name="address2"></snipcart-input>
                <snipcart-error-message
                  name="address2"
                ></snipcart-error-message>
              </div>
            </div>

            <div class="snipcart-form__field">
              <snipcart-label class="snipcart__font--tiny" for="city"
                >{{ $localize('address_form.city') }}</snipcart-label
              >
              <snipcart-input name="city"></snipcart-input>
              <snipcart-error-message name="city"></snipcart-error-message>
            </div>

            <div class="snipcart-form__row">
              <div class="snipcart-form__field snipcart-form__cell--large">
                <snipcart-label class="snipcart__font--tiny" for="province"
                  >{{ $localize('address_form.province') }}</snipcart-label
                >
                <snipcart-select
                  type="dropdown"
                  name="province"
                  autocomplete="province state"
                  required
                >
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espírito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                </snipcart-select>
                <snipcart-error-message
                  name="province"
                ></snipcart-error-message>
              </div>

              <div class="snipcart-form__field snipcart-form__cell--tidy">
                <snipcart-label class="snipcart__font--tiny" for="postalCode"
                  >{{ $localize('address_form.postalCode') }}</snipcart-label
                >
                <snipcart-input
                  name="postalCode"
                  minlength="8"
                  maxlength="8"
                  type="text"
                  onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                ></snipcart-input>
                <snipcart-error-message
                  name="postalCode"
                ></snipcart-error-message>
              </div>
            </div>

            <div class="snipcart-form__field">
              <snipcart-label class="snipcart__font--tiny" for="country"
                >{{ $localize('address_form.country') }}</snipcart-label
              >
              <snipcart-typeahead
                type="dropdown"
                name="country"
                autocomplete="country"
              ></snipcart-typeahead>
            </div>
          </fieldset>
        </div>
      </address-fields>
    </div>
  </body>
</html>
