/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@import "../styles/assets";

/* ------------------------------------------------------------------------------
	SHOWCASE PAGINATION:
	- Pagination links for the showcase;
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ------------------------------------------------------------------------------- */

.showcase_pagination {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);

  :global(#current),
  :global(#interval),
  :global(#next),
  :global(#last),
  :global(#previous),
  :global(#first) {
    font-size: $typo-small-size;
    line-height: $line-height-small-size;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 10px;
    @include transition(border 0.2s linear);
  }
  :global(#current),
  :global(#next),
  :global(#last),
  :global(#previous),
  :global(#first) {
    @include border-radius(4px);
  }
  :global(#next),
  :global(#last),
  :global(#previous),
  :global(#first) {
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
      border: 1px solid $orange-button;
    }
  }
  :global(#current) {
    border: 1px solid $orange-button;
    background-color: $orange-button;
    font-weight: bold;
    color: white;
  }

  // Responsiveness rules:
  @media screen and (max-width: $tablet-width) {
    :global(#current),
    :global(#interval),
    :global(#next),
    :global(#last),
    :global(#previous),
    :global(#first) {
      margin: 0 5px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
    @media screen and (max-width: $smartphone-width) {
      :global(#interval) {
        display: none;
      }
    }
  }
}
