/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@import "assets";

/* ---------------------------------------------
	AUTHOR:
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ---------------------------------------------- */

#author {
  opacity: 1;
  :global(#inexistent-author),
  :global(#loading-author) {
    text-align: center;
  }
  &:global(.loading) {
    > * {
      transition: opacity 0.05s linear;
      opacity: 0.3;
    }
  }

  article {
    @include flexbox();
    @include flex-wrap(wrap);
    @include align-items(center);
    width: $large-device-width - ($lateral-margin * 2);
    margin: 0 auto;

    :global(#author-image) {
      $author-image-width: 260px; // This value must be kept in accordance with the crop value appended to the image base-url (Author page).
      @include flex(0 0 $author-image-width);
      margin-right: 30px;

      // Trick to use next/image: https://dev.to/tanahmed/next-image-make-image-fill-available-space-272o
      position: relative;
      width: 100%;
      max-width: $author-image-width;
      > span {
        position: unset !important;
        max-width: 260px;
        :global(.custom-img) {
          width: 100% !important;
          position: relative !important;
          height: unset !important;
        }
      }
    }

    :global(#author-info) {
      @include flex(1);
      header {
        h1 {
          font-weight: bold;
        }
      }
      :global(.info-item) {
        padding: 25px 0 0 0;
      }
    }

    :global(#author-no-books),
    :global(#author-related-books),
    :global(#author-related-authors) {
      @include flex(1 0 100%);
    }

    :global(#author-related-books) {
      :global(ul#related-books-list) {
        padding-top: 10px;
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(flex-start);
        @include align-items(flex-start);
      }
    }

    :global(#author-related-authors) {
      :global(ul#related-authors-list) {
        padding-top: 10px;
        @include flexbox();
        @include flex-wrap(wrap);
        @include justify-content(flex-start);
        @include align-items(flex-start);
      }
    }

    :global(#author-no-books),
    :global(#author-related-books) {
      margin-top: 25px;
    }

    :global(#author-no-books) {
      margin-bottom: 25px;
    }

    :global(#author-no-books),
    :global(#author-related-books),
    :global(#author-related-authors) {
      h1 {
        padding-bottom: 15px;
      }
    }
  }

  // Responsiveness rules:
  @media screen and (max-width: $large-device-width) {
    article {
      width: $tablet-width - ($lateral-margin * 2);
      :global(#author-related-books) {
        :global(ul#related-books-list) {
          @include justify-content(space-around);
          -webkit-justify-content: space-evenly !important;
        }
      }
      :global(#author-related-authors) {
        :global(ul#related-authors-list) {
          @include justify-content(space-around);
          -webkit-justify-content: space-evenly !important;
        }
      }    
    }
  }
  @media screen and (max-width: $tablet-width) {
    article {
      width: 100%;
      @include flex-direction(column);
      :global(#author-image),
      :global(#author-info) {
        @include flex(1 0 100%);
      }
      :global(#author-image) {
        margin-right: 0;
        margin-bottom: 30px;        
      }
    }
  }
}
